# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.egg-info/
dist/
build/
.pytest_cache/

# .NET / WinUI 3
bin/
obj/
*.user
*.suo
*.useros
.vs/
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkg/

# Privreach OS Runtime & Cache
.privreach_cache/
.privearch_cache/
.privreach_media_cache/
.privreach_snapshots/
.privreach_backup/
privearch/
*.log
EBWebView/

# Models & Binaries
/models/
PrivreachOS.spec

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
